
/* .header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .header-content {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background-image: url(https://images.pexels.com/photos/28411661/pexels-photo-28411661/free-photo-of-boat-in-the-sea-of-tabarka-tunisia.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    color: black;
    padding: 100px;
    border-radius: 15px;
    width: 250px;
  }
  
  .card h2 {
    font-size: 18px;
  }
  
  .card p {
    font-size: 14px;
  }

  .text {
    padding-top: 50px;
    justify-items: center;
    color: white;
  }

  .text p{
    color: white;
  }
   */